/* ------------- screen-size neutral designs ------------ */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90vw;
  padding: 1rem 2rem 1rem 2rem;
}

.search-results-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 15rem;
  margin: 0.5rem;
}

.card img {
  width: 15rem;
}

.card a {
  color: #252525;
  text-decoration: none;
}
